#root {
  --green: #22c55e;
  --yellow: #fbbf24;
  --secondary-green: #bef264;
  --blue: #06b6d4;
}
#header {
  color: var(--yellow);
  font-family: "Acme";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Memory-App {
  background-color: var(--blue);
}
